<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7RyjKPQ301zcrH4LwB0m999qpxdCE4d0</string>
	<key>GCM_SENDER_ID</key>
	<string>220649432033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.netflixprojectfinal</string>
	<key>PROJECT_ID</key>
	<string>netflix-project-final</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-project-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220649432033:ios:f2e995b615ec4c2923e8a0</string>
</dict>
</plist>